<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File upload service</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <link href="/public/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="upload-form">
      <h2>Upload Your File</h2>
      <form
        action="api/fileanalyse"
        method="post"
        enctype="multipart/form-data"
      >
        <input
          type="file"
          name="file"
          id="file"
          accept=".pdf,.doc,.docx,.txt,.png,.jpg,.jpeg"
          required
        />
        <input type="submit" value="Upload" />
      </form>
    </div>
  </body>
</html>
